body {
  background-color: #f5a946;
}
.box {
  background-color: rgb(59, 56, 56);
  height: 300px;
  width: 250px;
  border-radius: 10px;
  position: relative;
  top: 90px;
  left: 40%;
}
.display {
  background-color: black;
  width: 220px;
  position: relative;
  left: 15px;
  top: 18px;
  height: 40px;
}

.display input {
  position: relative;
  left: 1px;
  top: 2px;
  height: 35px;
  color: black;
  background-color: rgb(150, 206, 150);
  font-size: 18.8px;
  text-align: right;
}

.keys {
  position: relative;
  top: 15px;
}

.button {
  width: 40px;
  height: 30px;
  border: none;
  border-radius: 8px;
  margin-left: 15px;
  cursor: pointer;
  border-top: 2px solid transparent;
}

.button.gray {
  color: white;
  background-color: grey;
  border-bottom: black 2px solid;
  border-top: 2px grey solid;
}

.button.pink {
  color: black;
  background-color: rgb(245, 111, 134);
  border-bottom: black 2px solid;
  border-top: 2px rgb(245, 111, 134) sold;
}

.button.black {
  color: white;
  background-color: rgb(36, 33, 33);
  border-bottom: black 2px solid;
  border-top: 2px rgb(36, 33, 33) solid;
}

.button.orange {
  color: black;
  background-color: rgb(245, 145, 64);
  border-bottom: black 2px solid;
  border-top: 2px rgb(245, 145, 64) sold;
}

.gray:active {
  border-top: black 2px solid;
  border-bottom: 2px grey solid;
}
.pink:active {
  border-top: black 2px solid;
  border-bottom: 2px rgb(245, 111, 134) solid;
}
.black:active {
  border-top: black 2px solid;
  border-bottom: 2px rgb(36, 33, 33) solid;
}
.orange:active {
  border-top: black 2px solid;
  border-bottom: 2px rgb(245, 145, 64) solid;
}
p {
  line-height: 10px;
}
